{% extends 'base.html.twig' %}

{% block body %}
    <a href="/" class="btn btn-default">Back to ToDo List</a>
    <br />
    <h2 class="page-header">Edit ToDo</h2>
    {% include 'todo/ftodo.html.twig' %}
    <br />
{% endblock %}